# Port secsend will listen to (within the container). This port can then be
# exposed on the host.
SECSEND_LISTEN_PORT=80

# Maximum file size in bytes. 0 seconds means no limit.
SECSEND_FILESIZE_LIMIT=1073741824

# Valid time limits, as a comma-separated list of seconds. 0 means no limit.
SECSEND_TIMEOUT_S_VALID=0
